$container-bg: rgba(18, 18, 59, 0.322);
$popup-bg: rgba(36, 36, 56, 0.824);

$msg-bg: rgba(74, 74, 109, 0.295);
$own-msg-bg: rgba(7, 102, 255, 0.619);

$input-bg: rgba(23, 67, 36, 0.174);
$input-bg-dark: rgba(13, 13, 32, 0.568);
$icon-bg: #5183fe;

$send-btn-bg: rgba(11, 46, 19, 0.753);
$send-btn-disabled-bg: rgba(11, 46, 19, 0.267);
$warning-btn-bg: red;
$warning-btn-bg-hover: rgba(168, 2, 2, 0.758);
$action-btn-bg: rgb(2, 139, 116);
$action-btn-bg-hover: rgb(2, 88, 74);
$action-btn-disabled-bg: rgba(2, 139, 116, 0.381);

$container-border-color: rgba(255, 255, 255, 0.135);

$section-divider: #dddddd35;
$color-secondary: #a5a5a5;
