@import "../../scss/utils/variables";

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border: 1px solid $section-divider;
        flex: 0 0 auto;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1 1 auto;
        overflow-y: auto;

        .MuiAccordion-root {
            background-color: $input-bg;
            color: white;
            border: 1px solid $section-divider;

            svg {
                color: white;
            }

            .MuiAccordionDetails-root {
                border-top: 1px solid white;
                padding: 16px;
            }
        }

        .photos {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow: auto;

            gap: 10px;

            .photoItem {
                .photoDetail {
                    cursor: pointer;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                    }
                }
            }
        }

        .privacy-help-content {
            a {
                text-decoration: none;
                color: #bbff0f;
            }

            li:not(:last-of-type) {
                margin-bottom: 10px;
            }

            .MuiButtonBase-root:disabled {
                cursor: not-allowed;
                pointer-events: auto;
                color: black;
                border: 1px solid black;
            }
        }
    }
}