@import "../../scss/utils/variables";

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border: 1px solid $section-divider;
        flex: 0 0 auto;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            font-size: 0.7rem;
            font-weight: 300;
            color: #a5a5a5;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1 1 auto;
        overflow-y: auto;

        .MuiAccordion-root {
            background-color: $input-bg;
            color: white;
            border: 1px solid $section-divider;

            svg {
                color: white;
            }

            .MuiAccordionDetails-root {
                border-top: 1px solid white;
                padding: 16px;
            }
        }

        .MuiTypography-root {
            font-size: 0.8rem;
        }

        .MuiAccordionDetails-root {
            max-height: 200px;
            overflow-y: auto;
        }

        .photos {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow: auto;

            gap: 10px;

            .photoItem {
                .photoDetail {
                    cursor: pointer;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                    }
                }
            }
        }

        .files {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .file-item {
                a {
                    width: 100%;
                }

                .file-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: center;

                    img {
                        padding-right: 10px;
                    }
                }
            }
        }

        .privacy-help-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            a {
                text-decoration: none;
                color: #bbff0f;
            }

            button {
                width: 100%;
                font-size: 0.7rem;
            }

            .MuiButtonBase-root:disabled {
                cursor: not-allowed;
                pointer-events: auto;
                color: black;
                border: 1px solid black;
            }
        }
    }
}
