@import "../../../../scss/utils/variables";

.addUser {
    padding: 30px;
    background-color: $popup-bg;
    border-radius: 10px;

    form {
        display: flex;
        gap: 20px;

        input {
            padding: 20px;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        button {
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            border: none;
            background-color: $action-btn-bg;
        }
    }

    .user {
        border-top: 1px solid $section-divider;
        margin-top: 15px;
        padding-top: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        button {
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            border: none;
            background-color: $action-btn-bg;
        }
    }
}
